@font-face {
    font-family: RobotoMono-Regular;
    src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: RobotoMono-Bold;
    src: url('../fonts/RobotoMono-Bold.ttf');
}


@font-face {
  font-family: RobotoMono-Light;
  src: url('../fonts/RobotoMono-Light.ttf');
}

:root {
  /*--primary-text-color: #000000;
  --secondary-text-color: #000000;
  --background-dark-color: #ffffff;
  --background-color: #d8d8d8;*/

  --primary-text-color: #DCDBCF;
  --secondary-text-color: #dddcd03f;
  --background-dark-color: #252525;
  --background-color: #2C2E31;
}

html {
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  p {
    word-wrap: break-word;
  }

  ::selection {
    background: #68aefed3; /* WebKit/Blink Browsers */
    color: var(--primary-text-color);
  }
  ::-moz-selection {
    background: #68aefed3; /* Gecko Browsers */
    color: var(--primary-text-color);
  }

  .page-deadspace {
    max-width: max(65vw, 1250px);
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
  }

  /* <---- Header ----> */

  header {
    display: flex;
    align-items: center;
  }

  #header-logo {
    width: 12rem;
    height: auto;
    margin: 10px;
  }

  #header-gap {
    width: 100%;
  }


  #navbar {
    display: flex;
    margin: 10px;
  }

  .navbar-text {
    color: var(--secondary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
    margin-left: 35px;
    margin-right: 35px;
  }

  .navbar-text:hover {
    color: #DCDBCF;
  }

    /* <---- Page Content ----> */

  #page-content {
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;

    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 30%));
    grid-auto-rows: max(25.7vh, 240px);
    row-gap: max(5.9vh, 55px);
    column-gap: max(4.4%, 55px);
  }

  .block {
    justify-self: center;
    background-color: var(--background-dark-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

 /* <---- About Block ----> */

  #about-block {
    grid-column: span 1;
    grid-row: span 2;

    display: grid;
    grid-auto-rows: 1fr;

    width: min(380px, 100%);
  }

  #about-block-img {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    border-radius: 50%;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  #about-block-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 1.5rem;
  }

  #about-block-bio {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.25;
  }

  .about-block-info {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    align-items:center;
    column-gap: 5%;
  }

  .about-block-icon {
    width: 32px;
    width: 32px;
  }

  .about-block-icon-text {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
  }

  /* <---- Social Block ----> */

  #social-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-column: span 1;
    grid-row: span 1;

    width: min(380px, 100%);
  }

  .social-block-button {
    display:block;
    margin: 5%;
    cursor: pointer;

    color: var(--primary-text-color);
    background-color: var(--background-color);
    text-decoration: none;
    border: none;
    overflow: hidden;

    border-radius: calc(25px - 2.5%);
  }

  .social-block-text {
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0;
    transition: 1s;
    z-index: 0;
    display:flex;
    transform: translate(0, 0);
  }

  .social-block-button:hover, .info-block-button:hover {
    color: var(--background-color);
    background-color: var(--primary-text-color);
  }

  .social-block-button:hover .social-block-text {
    opacity: 1;
    transform: translate(20%, 0);
  }

  .social-block-button:hover .social-block-icon {
    transform: translate(-100%, 0);
    
    filter: grayscale(0);
  }

  .social-block-button:active, .info-block-button:active {
    background-color: var(--primary-text-color);
    box-shadow: 1px 3px #68aefe;
    transform: translfate(0px, 4px);
  }

  .social-block-icon {
    width: 3rem;
    height: auto;

    position:relative;
    float: left;
    z-index: 1;

    filter: grayscale(1);

    left: calc(50% - 1.5rem);
    transition: 1s;
  }

    /* <---- Social Block ----> */

  #game-block {
    grid-column: span 2;
    grid-row: span 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: scroll;
  }

  .game-block-tile {
    width: 300px;
    height: 325px;
    background-color: var(--background-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor:pointer;
  }

  .game-block-img {
    width: 100%;
    height: 52%;
    border-radius: 25px 25px 0px 0px;
  }

  .game-block-video {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0px 0px;
    opacity: 0;
    transition: 0.85s;
  }

  .game-block-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .game-block-info {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;

    color: var(--secondary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.25;
  }

  /* <---- CV Block ----> */

  #cv-block {
    grid-column: span 2;
    grid-row: span 3;

    display: grid;
    grid-template-columns: 37% 63%;
    grid-template-rows: 15% auto;

    width: min(760px, 100%);
    overflow: scroll;
  }

  #cv-left-column {
    text-align: center;

    margin: 5%;
    display: block;

    border: 3px solid var(--primary-text-color);
  }

  #cv-right-column {
    text-align: center;

    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  #cv-title {
    text-align: left;
    grid-column: span 2;
    grid-row: span 1;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;


    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 56px;
  }

  .cv-sub-title {
    text-align: left;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 0;


    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 20px;
  }

  .cv-sub-sub-title {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0;
    margin-bottom: 0;


    color: var(--primary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 12px;
  }

  .cv-date {
    text-align: left;
    margin-left: 8%;
    margin-top: 2.5%;
    margin-bottom: 0;


    color: var(--secondary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 11.5px;
  }

  .cv-body-text {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;


    color: var(--secondary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 11.5px;
  }

  .cv-hr {
    display:inline-block; 
    margin-left: 7.6%;
    width:57.5%; 
    vertical-align: middle;
  }

  /* <---- Info Block ----> */

  #info-block {
    grid-column: span 2;
    grid-row: span 3;

    display: inline;

    width: min(760px, 100%);

    overflow-x: hidden;
    overflow-y: scroll;
  }

  #info-title {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;

    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 56px;
  }

  #info-right-column {
    display: grid;
    grid-template-columns: 47.5% auto;
    grid-auto-rows: auto;
    row-gap: 15px;
    column-gap: 0;
    margin-LEFT: 3%;

    width: 36%;
    height: auto;
    float: right;
    
    border-radius: 25px;
    background-color: var(--background-color);
    filter: drop-shadow(2px 2px 2px #00000052);
  }

  .info-block-img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0px 0px;

    grid-column: span 2;
  }

  .info-column-category {
    text-align: left;
    margin-left: 8%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;


    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 12px;
  }

  .info-column-text {
    text-align: left;
    margin-left: 0;
    margin-right: 8%;
    margin-top: 0;
    margin-bottom: 0;


    color: var(--primary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 12px;
  }

  .info-sub-title {
    text-align: left;
    margin-left: 3%;
    margin-top: 2.5%;
    margin-bottom: 0;


    color: var(--primary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 20px;
  }

  .info-body-text {
    text-align: left;
    margin-left: 3%;


    color: var(--secondary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 11.5px;
  }

  .info-hr {
    display:inline-block; 
    margin-left: 2.5%;
    width:30%; 
    vertical-align: middle;
  }

  .info-block-button, .info-block-button2 {
    display:block;
    margin: 5%;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    height: 60px;

    color: var(--primary-text-color);
    background-color: var(--background-color);
    text-decoration: none;
    border: none;
    overflow: hidden;

    border-radius: calc(25px - 2.5%);
  }

  .info-block-button:hover .social-block-text {
    opacity: 1;
    transform: translate(20%, 0);
  }

  .info-block-button:hover .social-block-icon {
    transform: translate(-125%, 0);
    
    filter: grayscale(0);
  }

  .info-block-button2:hover .social-block-icon {
    transform: translate(-75%, 0);
    
    filter: grayscale(0);
  }

  .info-block-button2:hover .social-block-text {
    opacity: 1;
    transform: translate(30%, 0);
  }

  .info-img {
    width: 27%; 
    height: auto; 
    padding: 3%;
    
    border-radius: 40px;
  }

  /* <---- Fancy Scroll ----> */

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2C2E31;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #DCDBCF;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
  
@media (max-width: 1285px) {

  #game-block, #info-block {
    grid-column: span 1;
    grid-row: span 3;

    width: min(380px, 100%);
  }

  #info-right-column {
    width: 45%;
  }

  #cv-block {
    grid-column: span 1;
    grid-row: span 3;

    grid-template-rows: 7.5% auto;

    width: min(380px, 100%);
  }

  #cv-title, #info-title {
    font-size: 28px;
  }

  .cv-sub-title, .info-sub-title {
    font-size: 14px;
  }

  .cv-body-text, .info-body-text, .info-column-text, .info-column-category {
    font-size: 8.5px;
  }

  .cv-sub-sub-title {
    font-size: 11px;
  }

  .cv-date {
    font-size: 11px;
  }

  .cv-hr {
    display:inline-block; 
    margin-left: 7.6%;
    width:50.5%; 
    vertical-align: middle;
  }

}

@media (max-width: 458px) {

  #page-content {
    grid-template-columns: repeat(auto-fit, 90%);
  }

  #header-logo {
    width: 40%;
  }

  #cv-block {
    grid-template-rows: 5% auto;
  }

  #cv-title {
    font-size: 20px;
  }

  .cv-sub-title {
    font-size: 11px;
  }

  .cv-hr {
    display:inline-block; 
    margin-left: 7.6%;
    width: 35%; 
    vertical-align: middle;
  }

  .navbar-text {
    font-size: 1.25rem;
    margin-left: 25px;
    margin-right: 25px;
  }

}
