@font-face {
    font-family: RobotoMono-Regular;
    src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: RobotoMono-Bold;
    src: url('../fonts/RobotoMono-Bold.ttf');
}


@font-face {
  font-family: RobotoMono-Light;
  src: url('../fonts/RobotoMono-Light.ttf');
}

html {
    background-color: #323337;
    overflow-x: hidden;
  }

  p {
    word-wrap: break-word;
  }

  ::selection {
    background: #68aefed3; /* WebKit/Blink Browsers */
    color: #DCDBCF;
  }
  ::-moz-selection {
    background: #68aefed3; /* Gecko Browsers */
    color: #DCDBCF;
  }

  .headerbar {
    display: grid;
    justify-content: center;
    grid-template-columns: auto minmax(0,1250px) auto;
  }

  .header {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;

    /*border-color: rgb(195, 0, 255);
    border-style: solid;
    border-width: 3px;*/
  }

  .navbar {
    display: grid;
    grid-template-columns: auto auto;
  }

  .navbaritemtext {
    color: hsla(55, 16%, 84%, 0.247);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;

    /*border-color: rgb(195, 0, 255);
    border-style: solid;
    border-width: 3px;*/
  }

  .navbaritemtext:hover {
    color: #DCDBCF;
  }

  .pagecontent {
    display: grid;
    grid-template-columns: 400px auto;
  }

  .leftcolumn {
    display: grid;
    grid-template-rows: auto auto;
  }

  .logo {
    width: 12rem;
    height: auto;
    margin: 10px;
  }

  .aboutblock {
    display: grid;
    grid-template-rows: auto auto auto;
    /*background-color: #252525;*/
    background-color: #2C2E31;
    margin: 25px;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  .aboutblocktitle {
    color: hsla(55, 16%, 84%, 0.247);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
  }

  .aboutblocktext {
    color: #DCDBCF;
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: 50px;
    margin-right: 50px;
  }

  .selfimg {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 75%;
    height: auto;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  .socialblock {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: #252525;
    margin: 25px;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  .socialblocktitle {
    color: hsla(55, 16%, 84%, 0.247);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
  }

  .socialblocktext {
    color: #DCDBCF;
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: 50px;
    margin-right: 50px;
  }

  .socialblockbutton {
    color: #DCDBCF;
    background-color: #2C2E31;
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    border: none;
  }

  .socialblockbutton:hover {
    color: #2C2E31;
    background-color: #DCDBCF;
  }

  .socialblockbutton:active {
    background-color: #DCDBCF;
    box-shadow: 1px 3px #68aefe;
    transform: translate(0px, 4px);
  }