@font-face {
    font-family: RobotoMono-Regular;
    src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: RobotoMono-Bold;
    src: url('../fonts/RobotoMono-Bold.ttf');
}


@font-face {
  font-family: RobotoMono-Light;
  src: url('../fonts/RobotoMono-Light.ttf');
}

:root {
  --primary-text-color: #DCDBCF;
  --secondary-text-color: #dddcd03f;
  --background-dark-color: #252525;
  --background-color: #2C2E31;
}

html {
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  p {
    word-wrap: break-word;
  }

  ::selection {
    background: #68aefed3; /* WebKit/Blink Browsers */
    color: var(--primary-text-color);
  }
  ::-moz-selection {
    background: #68aefed3; /* Gecko Browsers */
    color: var(--primary-text-color);
  }

  .page-deadspace {
    max-width: 1250px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  /* <---- Header ----> */

  header {
    display: flex;
    align-items: center;
  }

  #header-logo {
    width: 12rem;
    height: auto;
    margin: 10px;
  }

  #header-gap {
    width: 100%;
  }


  #navbar {
    display: flex;
    margin: 10px;
  }

  .navbar-text {
    color: var(--secondary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
    margin-left: 35px;
    margin-right: 35px;
  }

  .navbar-text:hover {
    color: #DCDBCF;
  }

    /* <---- Page Content ----> */

  #page-content {
    margin-top: 25px;
    margin-bottom: 25px;
    height: calc(90vh - 50px);

    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-rows: repeat(6, 225px);
    gap: 55px;
  }

 /* <---- About Block ----> */

  #about-block {
    grid-column: span 1;
    grid-row: span 2;

    justify-self: center;
    width: min(380px, 100%);

    background-color: var(--background-dark-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  #about-block-img {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 64%;
    height: auto;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  #about-block-title {
    color: var(--secondary-text-color);
    font-family: RobotoMono-Regular;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #about-block-bio {
    color: var(--primary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1.25;
    margin-top: -15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .about-block-info {
    color: var(--secondary-text-color);
    font-family: RobotoMono-Light;
    text-decoration: none;
    font-size: 0.88rem;
    line-height: 1.25;
    margin-top: -25px;
    margin-left: 40px;
    margin-right: 40px;
  }

  /* <---- Social Block ----> */

  #social-block {
    grid-column: span 1;
    grid-row: span 1;

    justify-self: center;
    width: min(380px, 100%);

    background-color: var(--background-dark-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  .social-block-button {
    display: inline;
    color: #DCDBCF;
    background-color: #2C2E31;
    text-decoration: none;
    border: none;
    width: 45%;
    height: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: auto;
    border-radius: calc(25px - 2.5%);
  }

  .social-block-text {
    font-family: RobotoMono-Regular;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .social-block-button:hover {
    color: #2C2E31;
    background-color: #DCDBCF;
  }

  .social-block-button:active {
    background-color: #DCDBCF;
    box-shadow: 1px 3px #68aefe;
    transform: translfate(0px, 4px);
  }

  
  .social-block-icon {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 3rem;
  }

    /* <---- Social Block ----> */

  #game-block {
    grid-column: span 2;
    grid-row: span 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: var(--background-dark-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);

    overflow-y: scroll;
  }

  .gametile {
    width: 300px;
    height: 400px;
    background-color: var(--background-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* <---- PDF Block ----> */

  .pdfblock {
    grid-column: span 2;
    grid-row: span 3;

    background-color: var(--background-dark-color);
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px #00000052);
  }

  .pdfobject-container { 
    width: 800px; 
    height: 800px;
    border-radius: 25px;
  }

  /* <---- Fancy Scroll ----> */

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2C2E31;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #DCDBCF;
  }
  
@media (max-width: 1265px) {
  #game-block {
    grid-column: span 1;
    grid-row: span 3;

    justify-self: center;
    width: min(380px, 100%);
  }

  #page-content {
    overflow-y: scroll;
  }
}